@page "/config"
@using OcrWaterMeter.Shared
@using System.Globalization
@inject HttpClient Http

<PageTitle>Configuration</PageTitle>

<h1>Configuration</h1>

@*<p>This component demonstrates fetching data from the server.</p>*@

@if (loading)
{
	<p><em>Loading...</em></p>
}
else
{
	<h2>@waterMeter?.Value m3</h2>

	<div class="row">
		<div class="col-6">

			<div class="row">
				<div class="card border-success mb-3">
					<div class="card-header bg-transparent">Settings</div>
					<div class="card-body text-success">

						<div class="row">
							<div class="col-12 mb-3">
								<label for="inputImageSrc" class="form-label">Image source</label>
								<input type="text" class="form-control" id="inputImageSrc" @bind="ImageSrc">
							</div>

							<div class="col-12 mb-3">
								<label for="inputInitialValue" class="form-label">Initial Value <small>(Required for Processing undefined Values)</small></label>
								<input type="number" class="form-control" id="inputInitialValue" @bind="InitialValue">
								<small>Changing this Number updates the Values of all Numbers. So this can be used to reset Numbers if there is anything completly wrong.</small>
							</div>

							<div class="col-12 mb-3">
								<label for="inputMaxWaterPerHourValue" class="form-label">Max. amount of Water per hour  <small>(Q3 on watermeter)</small></label>
								<input type="number" class="form-control" id="inputMaxWaterPerHourValue" @bind="MaxWaterPerHour">
							</div>

							@if (waterMeter != null)
							{
								<div class="col-12 mb-3">
									<label for="inputLastValue" class="form-label">Last Value</label>
									<input type="number" class="form-control" id="inputLastValue" @bind="waterMeter.LastValue" readonly>
								</div>
							}
							<div class="col-12 mb-3">
								<label for="inputImageAngle" class="form-label">Rotationangle</label>
								<input type="number" class="form-control" id="inputImageAngle" @bind="ImageAngle">
							</div>

							<div class="col-6 mb-3">
								<label for="inputCropOffsetHorizontal" class="form-label">Crop Offset Horizontal</label>
								<input type="number" class="form-control" id="inputCropOffsetHorizontal" @bind="CropOffsetHorizontal">
							</div>
							<div class="col-6 mb-3">
								<label for="inputCropOffsetVertical" class="form-label">Crop Offset Vertical</label>
								<input type="number" class="form-control" id="inputCropOffsetVertical" @bind="CropOffsetVertical">
							</div>

							<div class="col-6 mb-3">
								<label for="inputCropWidth" class="form-label">Crop Width</label>
								<input type="number" class="form-control" id="inputCropWidth" @bind="CropWidth">
							</div>
							<div class="col-6 mb-3">
								<label for="inputCropHeight" class="form-label">Crop Height</label>
								<input type="number" class="form-control" id="inputCropHeight" @bind="CropHeight">
							</div>
							<div class="col-6 mb-3">
								<label for="inputCropHeight" class="form-label">Crop Height</label>
								<input type="number" class="form-control" id="inputCropHeight" @bind="CropHeight">
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="card border-success mb-3">
					<div class="card-header bg-transparent">Digital Numbers</div>
					<div class="card-body text-success">

						<table>
							<thead>
								<tr>
									<th>Id</th>
									<th>Factor</th>
									<th>Offset Horizontal</th>
									<th>Offset Vertical</th>
									<th>Width</th>
									<th>Height</th>
									<th>Image</th>
									<th>OcrValue</th>
									<th>Value</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var number in DigitalNumbers)
								{
									<tr>
										<td>
											<input type="number" class="form-control" @bind="number.Id" readonly>
										</td>
										<td>
											<select @bind="number.Factor">
												<option value="0.0001">0.0001</option>
												<option value="0.001">0.001</option>
												<option value="0.01">0.01</option>
												<option value="0.1">0.1</option>
												<option value="1">1</option>
												<option value="10">10</option>
												<option value="100">100</option>
												<option value="1000">1000</option>
												<option value="10000">10000</option>
											</select>
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.HorizontalOffset">
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.VerticalOffset">
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.Width">
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.Height">
										</td>
										<td>
											<img src="WaterMeter/Image/@ImageType.Number/@number.Id/?@ProcessTime" class="preview-image" />
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.OcrValue" readonly>
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.Value" readonly>
										</td>
										<td>
											<button @onclick="() => RemoveNumber(number.Id)">Delete</button>
										</td>
									</tr>
								}
							</tbody>
						</table>

					</div>
					<div class="card-footer bg-transparent border-success">
						<button @onclick="AddNewDigitalNumber">Add Digital Number</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card border-success mb-3">
					<div class="card-header bg-transparent">Analog Numbers</div>
					<div class="card-body text-success">

						<table>
							<thead>
								<tr>
									<th>Id</th>
									<th>Factor</th>
									<th>Offset Horizontal</th>
									<th>Offset Vertical</th>
									<th>Width</th>
									<th>Height</th>
									<th>Image</th>
									<th>OcrValue</th>
									<th>Value</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var number in AnalogNumbers)
								{
									<tr>
										<td>
											<input type="number" class="form-control" @bind="number.Id" readonly>
										</td>
										<td>
											<select @bind="number.Factor">
												<option value="0.0001">0.0001</option>
												<option value="0.001">0.001</option>
												<option value="0.01">0.01</option>
												<option value="0.1">0.1</option>
												<option value="1">1</option>
												<option value="10">10</option>
												<option value="100">100</option>
												<option value="1000">1000</option>
												<option value="10000">10000</option>
											</select>
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.HorizontalOffset">
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.VerticalOffset">
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.Width">
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.Height">
										</td>
										<td>
											<img src="WaterMeter/Image/@ImageType.Number/@number.Id/?@ProcessTime" class="preview-image" />
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.OcrValue" readonly>
										</td>
										<td>
											<input type="number" class="form-control" @bind="number.Value" readonly>
										</td>
										<td>
											<button @onclick="() => RemoveNumber(number.Id)">Delete</button>
										</td>
									</tr>
								}
							</tbody>
						</table>

					</div>
					<div class="card-footer bg-transparent border-success">
						<button @onclick="AddNewAnalogNumber">Add Analog Number</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<img src="WaterMeter/Image/@ImageType.SrcImage" class="preview-image src-image" />
				</div>

				<div class="col-12 ">
					<div class="overlay-wrapper">
						<img src="WaterMeter/Image/@ImageType.ProcessedImage?@ProcessTime" class="preview-image" />
						@foreach (var digitalNumber in DigitalNumbers)
						{
							<div class="overlay-box" style="top:@(digitalNumber.VerticalOffset + "px");left:@(digitalNumber.HorizontalOffset + "px");width:@(digitalNumber.Width + "px");height:@(digitalNumber.Height + "px");">@digitalNumber.Id</div>
						}

						@foreach (var analogNumber in AnalogNumbers)
						{
							@*@analogNumber.Id*@
							<div class="overlay-box crossed" style="top:@(analogNumber.VerticalOffset + "px");left:@(analogNumber.HorizontalOffset + "px");width:@(analogNumber.Width + "px");height:@(analogNumber.Height + "px");">
								@analogNumber.Id
								@*<div class="overlay-box-diagonal-top"></div>*@
							</div>
						}
					</div>
				</div>

			</div>

		</div>
	</div>
}